[Unit]
Description=uWSGI Service
After=syslog.target

[Service]
User=hjung
ExecStart=/home/hjung/Achamber/bin/uwsgi -i /home/hjung/proj/Achamber/achamber_web/.config/uwsgi/achamber_web.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target

