{% extends "base_generic.html" %}

{% block content %}

  <div style="width=100%; height: 100px;">
  </div>
  <div style="width: 20%; height: 300px; float: left;">
  </div>
  <div class="container" style="width: 32%; height: auto; float: left; border-radius: 30px; border: 8px solid #ccff90; margin-right: 30px; margin-top: 0px; padding: 10px;">
    <form method="POST" action="{% url 'accounts:change_pw' %}">
      {% csrf_token %}
      <table>
        <tr>
          <th>Current password</th>
          <td><input name="origin_password" type="password"></td>
        </tr>
        <tr>
          <th>New password</th>
          <td><input name="new_password" type="password"></td>
        </tr>
        <tr>
          <th>Confirm password</th>
          <td><input name="confirm_password" type="password"></td>
        </tr>
        <tr>
          <td colspan="2" align="center"><input class="btn btn-primary" type="submit" value="변경"></td>
        </tr>
      </table>
    </form>
  </div>
  <div style="width: 10%; float: left; height: 300px;">
  </div>

{% endblock %}